*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
a{
    text-decoration: none;
    color: inherit;
}
.container{
    max-width: 1000px;
    width: 100%;
    padding: 0 16px;
    margin: 0 auto;
}
.box{
    background:linear-gradient(135deg, rgb(255, 0, 217) 60%, cyan);
}
.popap{
    display: none;
}
.overlay{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: #fff9;
    background: #0004;
    z-index: 100;
    opacity: 0;
    animation: overlay .5s ease 0s forwards;
}
@keyframes overlay {
    to{
        opacity: 1;
    }
}

.model{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -70%) scale(.8);
    width: 350px;
    min-height: 400px;
    background: #fff;
    z-index: 101;
    box-shadow: 0 0 25px #0005;
    opacity: 0;
    animation: model .5s ease 0s   forwards;
}
@keyframes model {
    to{
        opacity: 1;
        transform: translate(-50%, -50%) scale(1);
    }
}
